@using EntityLayer.Concrete;
@model DotRestaurant.Models.MenuViewModel;
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/Default/_DefaultLayout.cshtml";
}



<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Menü
            </h2>
        </div>

        <ul class="filters_menu">

            @foreach(var menuItem in Model.categoryModels)
            {
                if(menuItem.DefaultCategory)
                {
                    <li class="active" data-filter="*">@menuItem.CategoryName</li>
                }
                else
                {
                    <li data-filter=".@menuItem.CategoryName.ToLower()">@menuItem.CategoryName</li>
                }
            }
        </ul>

        <div class="filters-content">
            <div class="row grid">
                @foreach(var item in Model.foodModels)
                {
                    <div class="col-sm-6 col-lg-4 all @item.CategoryName.ToLower()">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="@item.FoodImage" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        @item.FoodName
                                    </h5>
                                    <p>
                                        @item.FoodIngredients
                                    </p>
                                    <div class="options">
                                        <h6>
                                            $@item.FoodPrice
                                        </h6>
                                        <a href="/addProductToCart/foodID=@item.FoodID">
                                            @await Html.PartialAsync("~/Views/Shared/ViewUtils/CartIcon.cshtml")
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
